# String Operations

<b> 1) Consider the variable d use slicing to print out the first three elements:

In [1]:
# Write your code below and press Shift+Enter to execute

d = "ABCDEFG"
print(d[:3]) 

# or 

print(d[0:3])

ABC
ABC

<b> 2) Use a stride value of 2 to print out every second character of the string <code>e</code>:

In [4]:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'
print( e[::2])

correct

<b> 3) Print out a backslash:

In [22]:
print("\\")
print(r"\ ") # raw strings cannot end with a single backslash. If space is deleted in raw string, it will show error.

\
\

<b> 4) Convert the variable f to uppercase:

In [23]:
# Write your code below and press Shift+Enter to execute

f = "You are wrong"
f.upper()

'YOU ARE WRONG'

<b> 5) Convert the variable f2 to lowercase:

In [24]:
# Write your code below and press Shift+Enter to execute
f2="YOU ARE RIGHT"
f2.lower()

'you are right'

<b> 6) Consider the variable g, and find the first index of the sub-string snow:

In [25]:
# Write your code below and press Shift+Enter to execute

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find("snow")

95

<b> 7) In the variable g, replace the sub-string Mary with Bob:

In [26]:
g.replace("Mary", "Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

<b> 8) In the variable g, split the substring to list:

In [27]:
g.split()

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Little',
 'lamb,',
 'little',
 'lamb',
 'Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Its',
 'fleece',
 'was',
 'white',
 'as',
 'snow',
 'And',
 'everywhere',
 'that',
 'Mary',
 'went',
 'Mary',
 'went,',
 'Mary',
 'went',
 'Everywhere',
 'that',
 'Mary',
 'went',
 'The',
 'lamb',
 'was',
 'sure',
 'to',
 'go']